body, html {margin:0px;padding:0px;background-color:#fff;color:#777;font-family:'Hind Madurai', sans-serif; font-size:18px;font-weight:400;-webkit-font-smoothing:antialiased;}
b, strong {font-weight:600;}
a:visited, a:link, a:hover, a:active {text-decoration:none;}
._tr {-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.container {max-width:1300px;width:100%;position:relative;}
