body, html {margin:0px;padding:0px;background-color:#fff;color:#272727;font-family: 'Work Sans', sans-serif; font-size:18px;line-height: 1.8;font-weight:400;}
b, strong {font-weight:700;}
a:visited, a:link, a:hover, a:active {text-decoration:none;}
._tr {-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.container {max-width:700px;width:100%;position:relative;}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin:0;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin:50px 0 20px 0;
}

p {
  font-family: Arial;
  font-size: 20px;
  line-height: 150%;
}
